<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe" 
                  arguments="-Djava.net.preferIPv4Stack=true 
                             -Djetty.port=%HTTP_PLATFORM_PORT% 
                             -Djetty.base=&quot;d:\home\site\wwwroot\jetty-base&quot; 
                             -jar         &quot;d:\home\site\wwwroot\jetty-distribution\start.jar&quot;"
                  startupTimeLimit="30"
                  stdoutLogEnabled="true">
            <environmentVariables>
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>
